<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
  <a routerLink="/panel" class="navbar-brand">Book Store</a>
  <button *ngIf="isLogin" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" *ngIf="isLogin">
      <li class="nav-item">
        <a class="nav-link" routerLink="/panel" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
     </ul>
  </div>
  <button class="btn btn-danger" (click)="logout()" *ngIf="isLogin">Logout</button>
  <a routerLink="/login" class="btn btn-warning" *ngIf="!isLogin">Login</a>
</nav>
